<div class="backdrop" fxLayout="row" fxLayoutAlign="center center">
  <h4>GAME INTRO</h4>
</div>
<div>
  <h1>Welcome to Angular Poker!</h1>
  <h3>
    This is a poker game built using Angular 12 and Firebase. The game is Texas
    Hold'em with only one initial round of betting.
  </h3>
  <h3>
    This game was made by myself and my mentor. Although the game is not fully
    funtional the base elements of the game are in place.
  </h3>
  <h3>
    The game is scafolded correctly and has the correct game logic, all within
    the correct Angular components and services.
  </h3>
  <h3>Thank you so much for stopping by!</h3>
  <h1>Press any key to start!</h1>
</div>
