<main>
  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>

    <a mat-button appGoogleSignin>
      <img src="/assets/google-signin.png" />
    </a>
    <!-- <a mat-button appFacebookSignin>
      <img src="/assets/facebook-signin.png" />
    </a> -->

    <!-- <h5>OR</h5>

    <app-email-login></app-email-login> -->
  </div>

  <div *ngIf="afAuth.authState | async as user" class="logout">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>
    <button mat-stroked-button routerLink="/play">Play</button>
    <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
  </div>
</main>
